<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.apple-git.daemon</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>-m</string>
        <string>apple_git</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/cypher/.apple-git/apple-git.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/cypher/.apple-git/apple-git.stderr.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/cypher/Documents/GitHub/apple-git</string>
</dict>
</plist>
